certifi==2017.7.27.1
click==6.7
Flask==0.12
h5py==2.7.0
itsdangerous==0.24
Jinja2==2.9.5
Keras==2.0.6
Mako==1.0.7
MarkupSafe==1.0
mock==2.0.0
numpy==1.13.1
pbr==3.1.1
protobuf==3.3.0
PyYAML==3.12
six==1.10.0
Theano==0.9.0
Werkzeug==0.12.2
